<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>APP | Reset Password</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>

<body>
    <div class="mainDiv">
        <div class="cardStyle" style="display:flex;justify-content:center;padding : 40px;margin :auto">
            <form id="form" style="text-align:center" onstalled="return false">

                <img src="/images/logo.png" id="signupLogo" style="width : 120px ;height:120px" />

                <h2 class="formTitle" style="font-weight:600;margin-bottom:40px">
                    Reset Password
                </h2>

                <div class="inputDiv" style="width : 100%;margin-bottom : 2px ">
                    <input type="password" id="password" name="newPassword" required placeholder="Password"
                        style="width : 100%;margin : 10px 0;border:1px solid gray;padding:5px 10px;border-radius:5px">
                </div>

                <div class="inputDiv" style="width : 100%;margin-bottom : 2px ">
                    <input type="password" id="confirmPassword" name="confirmPassword" required
                        placeholder="Confirm Password"
                        style="width : 100%;margin : 10px 0;border:1px solid gray;padding:5px 10px;border-radius:5px">
                </div>

                <div class="buttonWrapper" style="width : 100%;margin-top : 20px ">
                    <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                        <span>Continue</span>
                        <span id="loader"></span>
                    </button>
                </div>
                <input type="hidden" class="hide" name="resetPassToken" id="token" value="<%= currentRequestToken %>">
            </form>
        </div>
    </div>

    <% if(message.error){ %>
        <script>
            Toastify({
                text: "<%= message.error[0] %>",
                className: "error",
                position: "center",
                stopOnFocus: true,
                style: {
                    background: "linear-gradient(to right,#cc0000, #cc0000)",
                },
            }).showToast();
        </script>

        <% } %>


            <script>

                let newPass = document.getElementById('password');
                let confirmPass = document.getElementById('confirmPassword');

                var form = document.getElementById("form");
                function submitForm(event) {

                    //Preventing page refresh
                    event.preventDefault();


                    $.ajax({
                        url: '/api/reset-password',
                        type: 'POST',
                        data: JSON.stringify({ resetPassToken: "<%= currentRequestToken %>", newPassword: newPass.value, confirmPassword: confirmPass.value }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            location.assign("/");
                        },
                        error: function (error) {
                            $("body").load(window.location.href);
                        }
                    });
                }

                //Calling a function during form submission.
                form.addEventListener('submit', submitForm);
            </script>



</body>

</html>